{% extends 'passengers/base.html' %}

{% block title %}
Update Passenger

{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">HomePage</a>
        </li>
    </ul>
    </div>
</nav>

<div class="container mt-3">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<p>{{form.as_p}}</p>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>

{% endblock %}